{% extends 'layouts/index_authorized.html' %}
{% load static %}
{% block content %}
    <div class="d-flex gap-3 mb-3 align-items-center">
        <h1>Settings: Mario</h1>
        <a href="{% url 'main_authorized' %}">Main page</a>
    </div>
    <form class="col-9 d-flex flex-column gap-4 was-validated" action="{% url 'main_authorized' %}">
        <div class="form-group col-7">
            <label for="inputLogin" class="form-label">Login</label>
            <input type="text" name="username" maxlength="25" minlength="8" class="form-control border-black"
                   id="inputLogin"
                   placeholder="Enter your login here" value="Mario" required>
            <div class="invalid-feedback">Please choose a valid login.</div>
            <span id="loginHelpInLine" class="form-text">Must be 8-25 characters long.</span>
        </div>

        <div class="form-group col-7 ">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" name="email" maxlength="50" class="form-control border-black" id="inputEmail4"
                   placeholder="Enter your email here" value="Mario@mail.ru" required>
            <div class="invalid-feedback">Please provide a valid email.</div>
        </div>

        <div class="form-group col-7">
            <label for="inputNick" class="form-label">NickName</label>
            <input type="text" name="nickname" minlength="6" maxlength="20" class="form-control border-black"
                   id="inputNick" placeholder="Enter your nickname here" value="Dr.Mario" required>
            <div class="invalid-feedback">Please choose a valid NickName.</div>
            <span id="nickHelpInLine" class="form-text">Must be 6-20 characters long.</span>
        </div>

        <div class="form-group col-7">
            <label for="inputGroupFile01" class="form-label">Upload avatar</label>
            <div class="d-flex mt-3">
                <img src="{% static 'img/Mario2small.jpg' %}" alt="Avatar" class="img-fluid"
                     style="width:100px; height:100px">
            </div>
            <input type="file" name="avatar" class="form-control border-black mt-3" id="inputGroupFile01">
            <div class="invalid-feedback">Please upload a valid file.</div>
        </div>

         <button type="submit" class="btn btn-primary mb-5 col-7 text-center">Save</button>

    </form>
{% endblock %}